@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.dashboard {
  overflow-y: scroll;
  background: #ffffff;
  display: flex;
}
.navigation {
  background: #fbfbfb;
  width: 25%;
  height: 170vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.logo-icon {
  display: flex;
  width: 22.5%;
  justify-content: center;
  position: fixed;
  margin-top: 5.2rem;
}
.logo-icon img {
  width: 57.48px;
  height: 67px;
}
.logo-icon h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 50px;
  letter-spacing: 0.05em;
  color: #00302e;
  margin-top: 1rem;
  margin-left: 1rem;
}
.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  margin-top: 13rem;
}
.row1 {
  display: flex;
  margin: 10px 0px;
  padding: 10px 0px;
}
.row1:active {
  background: #efefef;
}
.row2 {
  display: flex;
  margin: 10px 0px;
  padding: 10px 0px;
}
.row3 {
  display: flex;
  justify-content: space-between;
  width: 22%;
  margin: 10px 0px;
  padding: 10px 0px;
}
.counter {
  width: 24px;
  height: 24px;
  left: 225px;
  top: 10px;
  background: #06e775;
  border: 1px solid #06e775;
  border-radius: 5px;
}
.p-img {
  display: flex;
}
.counter p {
  width: 10px;
  height: 19px;
  left: 232px;
  top: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.counter-carts {
  width: 24px;
  height: 24px;
  left: 225px;
  top: 10px;
  background: #f3c294;
  border: 1px solid #f3c294;
  border-radius: 5px;
}
.counter-carts .o{
  width: 10px;
  height: 19px;
  left: 232px;
  top: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.row4 {
  display: flex;
  justify-content: space-between;
  width: 22.4%;
  margin: 10px 0px;
  padding: 10px 0px;
}
.cart-link {
  text-decoration: none;
}
.row1 .to-dashboard {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 2px 0px 0px 6px;
  text-decoration: none;
}

.row2,
.row3,
.row4 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
  margin: 2px 0px 0px 6px;
}
.row2 p {
  margin: 2px 0px 0px 6px;
}
.row3 p {
  margin: 2px 0px 0px 6px;
}
.menu {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0 auto;
  width: 80%;
}
.menus {
  padding: 0px;
  margin: 0 auto;
  width: 80%;
  margin-top: 1.5rem;
}

.dashboard-greeting {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 40px;
  color: #00302e;
  margin: 105px 40px 0px;
  display: flex;
}
.greeting {
  margin-right: 0.5rem;
}
.what-are-you-buying {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 33px;
  color: rgba(0, 0, 0, 0.69);
  margin: 0px 0px;
}
.girl-image {
  margin: 85px 40px 0px;
}
.containers1 {
  display: flex;
  justify-content: space-between;
}
.cart-btn{
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
  margin: 2px 0px 0px 6px; 
  background-color: #fbfbfb;
  border: none;
}
.food-menus {
  display: flex;
  flex-wrap: wrap;
}
.food-item {
  width: 900px;
}
