

.modal-header,
.modal-footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 0px;
  width: 670px;
  
}
.close-button {
  margin-left: -30px;
  box-shadow:  3px 3px 8px #00302e;
  width: 6%;
}
.button {
  font-size: 20px;
  margin-left: px;
  padding: 10px;
  color: #00302e;
  background-color: #fff;
  border: none;
}